@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #83f5cb;
}
body {
  color: #a78bfa;
  background: linear-gradient(to right, white, #d1fae5);
}

.loud-text {
  @apply sm:text-6xl text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-violet-400 py-4;
}

.purpleButtons {
  @apply bg-gradient-to-r from-violet-400/50 p-3 m-2 to-purple-400/75 flex-grow rounded-lg text-white hover:font-semibold hover:shadow-md;
}
.devButton {
  @apply block cursor-not-allowed bg-gradient-to-r from-neutral-400/50 p-3 m-2 to-slate-400/75 flex-grow rounded-lg text-white hover:font-semibold hover:shadow-md;
}

.tooltiptext {
  @apply invisible bg-gradient-to-r from-violet-400 p-3 m-2 to-purple-400/90 text-white text-center text-base font-semibold mx-auto rounded-lg p-2 absolute opacity-0 transition-opacity duration-300;
  margin-top: 20px;
}

.devButton:hover .tooltiptext {
  @apply visible opacity-100;
}

.devButtonNav {
  @apply invisible;
}

.devButtonNav:hover {
  @apply visible;
}
